In [33]:
import pandas as pd

In [34]:
df = pd.read_excel("../data/raw/OLA_DataSet.xlsx")

# STEP 1: DATA CLEANING & PREPROCESSING

In [35]:
df.head()

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,2024-07-26 14:00:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/14183/1...
1,2024-07-25 22:20:00,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0,https://cdn-icons-png.flaticon.com/128/9983/99...
2,2024-07-30 19:59:00,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8,https://cdn-icons-png.flaticon.com/128/9983/99...
3,2024-07-22 03:15:00,03:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN,https://cdn-icons-png.flaticon.com/128/6839/68...
4,2024-07-02 09:02:00,09:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0,https://cdn-icons-png.flaticon.com/128/3202/32...

In [36]:
# Shape of dataset
df.shape

(103024, 20)

In [37]:
# Column names
df.columns

Index(['Date', 'Time', 'Booking_ID', 'Booking_Status', 'Customer_ID',
       'Vehicle_Type', 'Pickup_Location', 'Drop_Location', 'V_TAT', 'C_TAT',
       'Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver',
       'Incomplete_Rides', 'Incomplete_Rides_Reason', 'Booking_Value',
       'Payment_Method', 'Ride_Distance', 'Driver_Ratings', 'Customer_Rating',
       'Vehicle Images'],
      dtype='object')

In [38]:
# Data types
df.dtypes

Date                          datetime64[ns]
Time                                  object
Booking_ID                            object
Booking_Status                        object
Customer_ID                           object
Vehicle_Type                          object
Pickup_Location                       object
Drop_Location                         object
V_TAT                                float64
C_TAT                                float64
Canceled_Rides_by_Customer            object
Canceled_Rides_by_Driver              object
Incomplete_Rides                      object
Incomplete_Rides_Reason               object
Booking_Value                          int64
Payment_Method                        object
Ride_Distance                          int64
Driver_Ratings                       float64
Customer_Rating                      float64
Vehicle Images                        object
dtype: object

In [39]:
# Missing values count
df.isnull().sum()

Date                              0
Time                              0
Booking_ID                        0
Booking_Status                    0
Customer_ID                       0
Vehicle_Type                      0
Pickup_Location                   0
Drop_Location                     0
V_TAT                         39057
C_TAT                         39057
Canceled_Rides_by_Customer    92525
Canceled_Rides_by_Driver      84590
Incomplete_Rides              39057
Incomplete_Rides_Reason       99098
Booking_Value                     0
Payment_Method                39057
Ride_Distance                     0
Driver_Ratings                39057
Customer_Rating               39057
Vehicle Images                    0
dtype: int64

In [40]:
# Drop unnecessary column
df.drop(columns=['Vehicle Images'], inplace=True)

In [41]:
df.shape

(103024, 19)

In [42]:
df.columns

Index(['Date', 'Time', 'Booking_ID', 'Booking_Status', 'Customer_ID',
       'Vehicle_Type', 'Pickup_Location', 'Drop_Location', 'V_TAT', 'C_TAT',
       'Canceled_Rides_by_Customer', 'Canceled_Rides_by_Driver',
       'Incomplete_Rides', 'Incomplete_Rides_Reason', 'Booking_Value',
       'Payment_Method', 'Ride_Distance', 'Driver_Ratings', 'Customer_Rating'],
      dtype='object')

## STEP 1.4: STANDARDIZE TEXT COLUMNS

In [43]:
# Strip whitespace & standardize text columns
text_cols = [
    'Booking_Status',
    'Vehicle_Type',
    'Payment_Method',
    'Pickup_Location',
    'Drop_Location'
]

for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

In [44]:
df['Booking_Status'].value_counts()

Booking_Status
Success                 63967
Canceled By Driver      18434
Canceled By Customer    10499
Driver Not Found        10124
Name: count, dtype: int64

In [45]:
df['Vehicle_Type'].value_counts()

Vehicle_Type
Prime Sedan    14877
Ebike          14816
Auto           14755
Prime Plus     14707
Bike           14662
Prime Suv      14655
Mini           14552
Name: count, dtype: int64

In [46]:
df['Payment_Method'].value_counts(dropna=False)

Payment_Method
Nan            39057
Cash           35022
Upi            25881
Credit Card     2435
Debit Card       629
Name: count, dtype: int64

## STEP 1.5: HANDLE MISSING VALUES

In [49]:
import numpy as np

df['Payment_Method'] = df['Payment_Method'].replace('Nan', np.nan)

In [50]:
df['Payment_Method'] = df['Payment_Method'].fillna('Not Completed')

In [51]:
df['Payment_Method'].value_counts()

Payment_Method
Not Completed    39057
Cash             35022
Upi              25881
Credit Card       2435
Debit Card         629
Name: count, dtype: int64

In [53]:
df['Date'].head()

0   2024-07-26 14:00:00
1   2024-07-25 22:20:00
2   2024-07-30 19:59:00
3   2024-07-22 03:15:00
4   2024-07-02 09:02:00
Name: Date, dtype: datetime64[ns]

In [52]:
df['Time'].head()

0    14:00:00
1    22:20:00
2    19:59:00
3    03:15:00
4    09:02:00
Name: Time, dtype: object

In [55]:
df.drop(columns=['Time'], inplace=True)

In [56]:
df.dtypes

Date                          datetime64[ns]
Booking_ID                            object
Booking_Status                        object
Customer_ID                           object
Vehicle_Type                          object
Pickup_Location                       object
Drop_Location                         object
V_TAT                                float64
C_TAT                                float64
Canceled_Rides_by_Customer            object
Canceled_Rides_by_Driver              object
Incomplete_Rides                      object
Incomplete_Rides_Reason               object
Booking_Value                          int64
Payment_Method                        object
Ride_Distance                          int64
Driver_Ratings                       float64
Customer_Rating                      float64
dtype: object

In [57]:
# Save cleaned dataset
df.to_csv("../data/processed/ola_cleaned.csv", index=False)